/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
  margin: 2rem 8rem 6rem;
}

header {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

header nav {
  text-align: center;
  line-height: 40px;
  background: #f1f5f8;
  padding: 2rem;
}

header nav a:nth-of-type(-n+6) {
  display: inline-block;
  font-size: 1.15rem;
  color: black;
  text-decoration: none;
  margin-right: 8%;
  vertical-align: top;
}

section {
  margin: 4rem 0;
}

section.landing .cols {
  width: 100%;
  text-align: center;
}

section.landing .cols .col {
  display: inline-block;
  width: 48%;
}

section.landing .title {
  font-size: 6rem;
  text-align: center;
}

section.landing .cta {
  cursor: pointer;
  background: white;
  font-size: 1.15rem;
  border: solid 2px black;
  padding: 0.5rem 3rem;
}

section .component.half {
  display: inline-block;
  width: 45%;
}

section .component.half:nth-child(1) {
  margin-right: 5%;
}

section .component.third {
  display: inline-block;
  width: 30%;
}

section .component.third:nth-child(n) {
  margin-right: 1%;
}

section .component .heading {
  font-size: 1.5rem;
}

section .component .body {
  line-height: 1.25;
}

div.banner {
  width: 100%;
  margin: 2rem 0;
}

div.banner .middle-img {
  min-width: 100%;
}

footer {
  text-align: center;
  font-family: 'B612', 'Titillium Web', sans-serif;
}
